.version {
  margin-top: 20px;
  margin-bottom: 10px;
}

.buildGrid {
  width: 100%;
}

.data-container {
  min-height: auto !important;
}

.timestamp {
  width: 10em;
}

.success {
  background-color: green;
  color: black;
}

.failure {
  background-color: red;
  color: black;
}

.running {
}

.unknown {
}

.testResults {
  display: inline-flex;
}

.testResults > div {
  margin-left: 3px;
  margin-right: 3px;
}
