.version {
  padding: 5px;
}

.version > h2 {
  margin-bottom: 5px;
}

.buildGrid {
  width: 100%;
}

.timestamp {
  width: 10em;
}

.success {
  background-color: green;
  color: black;
}

.failure {
  background-color: red;
  color: black;
}

.unknown {
  background-color: white;
  color: black;
}

.testResults {
  display: inline-flex;
}

.testResults > div {
  margin-left: 3px;
  margin-right: 3px;
}
